.dashboard {
	display: flex;
	text-align: center;
	height: 100vh;
	overflow: hidden;
	background-color: #F0F3FB; /* Prevent overflow on the dashboard */
}

.dashboard-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 20px;
	height: 100vh;
	background-color: #F0F3FB;
	overflow-y: auto; /* Enable vertical scrolling within the container */
}

.main-content {
	flex: 1; /* Allow the main content area to grow and shrink */
	width: 100%; /* Make the main content take up the full available width */
	padding: 20px;
	background-color: #F0F3FB;
	overflow-y: auto; /* Enable vertical scrolling within the main content */
}

.dashboard-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dashboard-header h1 {
	font-size: 24px;
}

.header-right {
	display: flex;
	align-items: center;
}

.dashboard-header {
	padding: 10px;
	font-size: 16px;
	margin-right: 10px; /* Space between search bar and notification icon */
}

.search-bar input {
	border-radius: 25px;
	border-color: white;
	padding: 10px;
	font-size: 16px;
	margin-right: 10px; /* Space between search bar and notification icon */
}

.search-bar input:hover {
	border-color: #000000;
	border-style: solid;
}

.notification-icon {
	cursor: pointer;
}

.dashboard-cards {
	border-radius: 25px;
	padding: 25px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 50px;
	background-color: white;
}

.card {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	flex: 1;
	min-width: 200px;
}

.card h3 {
	margin-bottom: 20px;
}

.card p {
	margin: 10px 0;
}

.card-icon {
	width: 50px; /* Adjust the width of the image */
	height: auto; /* Maintain aspect ratio */
	margin-top: 10px;
	align-items: end;
}

.emergency-calls ,
.patient-admission,
.bed-availability,
.staff-availability,
.inventory,
.other {
	background-color: #F0F3FB;
	margin: 5px; /* Adjust margins for better spacing */
}

.emergency-calls p:hover ,
.patient-admission p:hover,
.bed-availability p:hover,
.staff-availability p:hover,
.inventory p:hover,
.other p:hover {
	border-color: #000000;
	background-color: #ffffff;
	border-radius: 50px;
	padding: 15px;
	
}
.emergency-calls p,
.patient-admission p,
.bed-availability p,
.staff-availability p,
.inventory p,
.other p  {
	justify-content: center;
	margin-top: 25px;
	display: flex;
	color: #000000;
	background-color: #D7E3FC;
	border-radius: 15px;
	padding: 12px;
	size: 50px;
}
