.prescription-container-pre {
  display: flex;
  height: 100vh;
  background-color: #f0f3fb;
}

.content-container-pre {
  margin: 25px;
  border-radius: 15px;
  background-color: #f0f3fb;
  flex: 2;
  padding: 20px;
  max-height: calc(100vh - 50px);
  height: fit-content;
  overflow-y: auto;
}

.heading-pre {
  font-size: 24px;
  text-align: left;
  margin-bottom: 20px;
}

.patient-info-pre {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 16px;
}

.patient-info-pre p {
  margin: 0;
  line-height: 1.6;
}

.input-field-pre {
  border: 1px solid rgb(0, 64, 255);
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.main-section-pre {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-pre {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  background-color: #fff;
  position: relative;
}

.label-pre {
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}

.textarea-pre {
  width: 100%;
  padding: 8px;
  border: 1px solid rgb(0, 64, 255);
  border-radius: 4px;
  margin-bottom: 10px;
  resize: none;
}

.view-test-btn-pre {
  background-color: #2f74c0;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.bottom-section-pre {
  margin-top: 20px;
}

.urgent-bed-pre {
  margin-bottom: 20px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.urgent-bed-pre label {
  margin-right: 15px;
}

.final-report-card-pre {
  margin: 25px;
  border-radius: 15px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Adjust as needed */
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.final-report-section-pre {
  font-size: 14px;
  margin-bottom: 15px;
}

.print-report-btn-pre {
  background-color: #2f74c0;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  display: block;
}

.tests-section-pre {
  margin: 25px;
  margin-top: 50%;
  border-radius: 15px;
  background-color: #fff;
  /* flex: 1; */
  padding: 20px;
  max-height: calc(100vh - 50px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  height: fit-content;
}

.tests-heading-pre {
  margin-bottom: 10px;
  font-size: 16px;
}

.tests-list-pre {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.test-item-pre {
  padding: 5px 0;
}

.request-test-btn-pre {
  background-color: #2f74c0;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}
.section-pre{
  display: flex;
  flex-direction: column;
}
.pre-come{
  display: flex;
  margin: 10px;
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
}