.sidebar {
	margin: 25px;
	width: 20%;
	background-color: #2d53da;
	border-radius: 25px;
	color: white;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sidebar-header h2 {
	font-size: 24px;
	text-align: center;
}

.sidebar-menu {
	list-style-type: none;
	padding: 0;
	text-align: center;
}

.sidebar-menu li {
	margin: 20px 0;
}

.sidebar-footer {
	background: rgba(217, 217, 217, 0.2);
	text-align: center;
	margin-top: 20px;
	margin: 25px;
	padding-bottom: 25px;
	border-radius: 10px;
}

.sidebar-footer p {
	margin: 25px;
}

.sidebar-footer button {
	width: 100%;
	padding: 10px;
	background-color: #1dcef5;
	border: none;
	color: white;
	cursor: pointer;
	border-radius: 25px;
}

.sidebar-link-text {
	color: white;
	text-decoration: none;
	transition: 1000ms;
}

.sidebar-link-text:hover {
	color: #000000;
	border: #ffffff;
	border-style: solid;
	background-color: white;
	border-radius: 15px;
	padding: 12px;
}
