.hospital-profile-container {
  display: flex;
  height: 100vh;
}

.contact-support {
  background-color: #1a73e8;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.main-content {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
  background-color: #f8f9fc;
}

.card {
  width: 1200px;
  height: 661px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  overflow-y: auto;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card form {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns for the grid */
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-group label {
  font-size: 16px;
  margin-bottom: 8px;
}

.input-group input {
  width: 100%; /* Keep input width within its grid */
  padding: 8px;
  font-size: 14px;
  border: 1px solid rgb(0, 64, 255);
  border-radius: 26px;
}

.contact-row {
  display: flex;
  gap: 10px;
}

.add-btn {
  background-color: #28a745;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #218838;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c82333;
}

.card button {
  width: 154px;
  grid-column: span 2; /* Button spans across two columns */
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 26px;
  cursor: pointer;
  margin-left: 990px;
}

.card button:hover {
  background-color: #0056b3;
}